// ==== HEADER ====
.tension-banner{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 11;
    & .tension-banner-dark{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.90);
        display: flex;
        justify-content: center;
        align-items: center;
        & .logo-center{
            & p{
                font-size: 25px;
                @include lightLight;
                text-align: center;
                margin: 10px 0 0 15px;
            }
        }   
    }
}
.nav-logo-part p{
    font-size: 18px;
    @include lightLight;
}
.logo-contain{
    height: 50px;
    width: 70px;
    margin: 8px 0 0 15px;
    @include logoBG;
    background-size: 70px 50px;
    &:hover{
        @include logoBGhover;
        background-size: 70px 50px;
        transition: 0.33s;
    }
}

header{
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 10;
    transition: 0.33s;
}
.nav-active{
    background: $primaryCol;
    transition: 0.33s;
}
.sidebar-active{
    height: 130px;
}
header .intern-container{
    display: flex;
    justify-content: space-between;
}
header ul{
    margin-top: 19px;
    display: flex;
    justify-content: center;
}
header li{
    list-style: none;
    margin: 0 15px;
    font-size: 25px;
}
header li a{
    @include lightLight;
    text-decoration: none;
    padding: 5px;
}
header li a:hover{
    color: $tercialyCol;
    transition: 0.25s;
}
.eshop-part{
    margin-top: 32px;
}
.eshop-part i{
    color: $secondaryCol;
    margin: 0 0 0 20px;
    cursor: pointer;
}
.eshop-part i:hover{
    color: $tercialyCol;
    transition: 0.25s;
}
.nav-responsive{
    display: none;
    & i{
        cursor: pointer;
        transition: 0.25s;
        &:hover{      
            color: $tercialyCol;
            transition: 0.25s;
        }
    }
}
.header-menu-responsive{
    display: none;
    position: fixed;
    width: 50%;
    height: 100%;
    background: rgba(0,0,0,.88);
    margin-left: 50%;
    z-index: 9;
    transform: translateX(100%);
    transition: .3s ease-out;
    & .navigation-responsive{
        & ul{
            margin-top: 100px;
            & li{
                padding: 20px 0;
                list-style: none;
                text-align: center;
                & a{
                    text-decoration: none;
                    font-size: 30px;
                    transition: 0.25s;
                    @include lightLight;
                    &:hover{
                        @include addLight;
                        transition: 0.25s;
                    }
                }
            }
        }
    }
}
.page-active{
    border-bottom: 2px solid $tercialyCol;
}
// search bar
.nav-sidebar{
    width: 100%;
    display: none;
    .sidebar-content{
        display: flex;
        justify-content: center;
    }
    .nav-sidebar-search{
        width: 500px;
    }
    .searchform{
        width: 490px;
        margin: 0 auto;
    }
    #s{
        width: 400px;
        border: 1px solid $secondaryCol;
        background: none;
        outline: none;
        font-size: 20px;
        padding: 1px 8px;
        transition: 0.33s;
        @include lightLight;
        &:focus{
            border: 1px solid $tercialyCol;
        }
    }
    #searchsubmit{
        width: 80px;
        border: 1px solid $secondaryCol;
        background: none;
        font-size: 20px;
        margin-left: 5px;
        transition: 0.33s;
        @include lightLight;
        &:hover{
            @include addLight;
            border: 1px solid $tercialyCol;
        }
    }
    .hamburger-div3{
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: relative;
        margin: 2px 0 0 0;
        transition: 0.33s;
        &:hover{
            & .menu-line3{
                &::before, &::after{
                    transition: 0.33s;
                    background: $tercialyCol;
                }
            }
        }
        & .menu-line3{
            &::before{
                background: $secondaryCol;
                border-radius: 5px;
                content: '';
                position: absolute;
                width: 30px;
                height: 2px;
                transform: rotate(45deg) translate(10px, 10px);
            }
            &::after{
                background: $secondaryCol;
                border-radius: 5px;
                content: '';
                position: absolute;
                width: 30px;
                height: 2px;
                transform: rotate(-45deg) translate(-10px, 10px);
            }
        }
    }
}