// ==== COLORS ====
$primaryCol: #191919;
$secondaryCol: #ebebeb;
$tercialyCol: #ff88af;

$quaternaryCol: #555555;
$quinaryCol: #a4a4a4;

$senaryCol: white;

$smallSize: 22px;
$regularSize: 25px;
$highSize: 30px;
$headingSize: 70px;
