// ==== COLORS ====
$primaryCol: #191919;
$secondaryCol: #ebebeb;
$tercialyCol: #ff88af;

$quaternaryCol: #555555;
$quinaryCol: #a4a4a4;

$senaryCol: white;
$trans: transparent;
$true: rgb(16, 194, 16);

$smallSize: 22px;
$regularSize: 25px;
$highSize: 30px;
$headingSize: 70px;
