// ==== COLORS ====
$primaryCol: #191919;
$secondaryCol: #f0f0f0;
$tercialyCol: #ff88af;

$quaternaryCol: #555555;
$quinaryCol: #a4a4a4;

$senaryCol: white;
$trans: transparent;
$true: #0fb60f;
$trueHover: #008b00;;
$false: #ff3838;
$special: #6084F0;
$cart: #e0e0e0;
$cartHover: #d4d4d4;
$light: #ffd726;

$smallSize: 22px;
$regularSize: 25px;
$highSize: 30px;
$headingSize: 70px;
